.complete-order-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    min-height: calc(100vh - 95px);
  }

  .complete-order-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .complete-order-text {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .complete-order-note {
    font-size: 14px;
    margin-top: 20px;
  }
